<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?localhost$
RewriteCond %{REQUEST_URI} !^/php/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /$newfolder/$1
RewriteCond %{HTTP_HOST} ^(www.)?$localhost$
RewriteRule ^(/)?$ php/index.php [L] 
</IfModule>
