<footer>
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 mx-auto">
                    <div class="col-lg-4">
                    <p class="mb-1">0867506453</p>
                    <p class="mb-0">tamara@nagswithnotions.ie </p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <p class="mb-1">0863371314</p>
                    <p class="mb-1">caroline@nagswithnotions.ie</p>
                </div>
                <div class="col-lg-4 mx-auto">
			<p><a class="text-dark" aria-label="facebook" href="https://m.facebook.com/p/Nags-with-Notions-Pizza-100094122740703/"><i class="fa-brands fa-facebook-f"></i> Facebook</a></p>
		    <p><a class="text-dark" aria-label="instagram" href="https://www.instagram.com/nagswithnotions/"><i class="fa-brands fa-instagram"></i> Instagram</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div id="footer-container" class="container">
            <div class="col-lg-4 mx-auto">
                <div class="col-auto">
                    <p class="mb-0"><a href="https://github.com/JWalshe86/">Github</a></p>
                </div>
            </div>
            <div class="col-lg-4 mx-auto">
                <div class="col-auto">
                    <p class="mb-0"><a href="https://www.linkedin.com/in/john-walshe86/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-lg-4 mx-auto">
                <div class="col-auto">
                    <p class="mb-0">Designed by <a href="https://github.com/JWalshe86/">John</a></p>
                </div>
            </div>
	</div>
    </div>
</footer>
