<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>My Website</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>                                                             <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="static/css/index.css">
</head>
<nav class="navbar navbar-dark navbar-expand-lg shadow py-3">

    <div class="container">

        <div class="d-flex flex-row d-flex justify-content-between navbar__contain-logo-toggle">
            <!-- <a class="navbar__logo" href="#"> -->
                <!-- <img class="navbar__logo__img" src="#" -->
                <!-- srcset="#" sizes='100vw' -->
                <!--     alt="nags with notions logo"> -->
            <!-- </a> -->
            <button class="navbar__toggler toggler Btn navbar-toggler align-self-center ml-auto" title="button"
                type="button" data-toggle="collapse" data-target=".navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 navbarNav">
            <ul class="navbar-nav mr-auto collapse__list mx-auto">
                <li class="collapse__list__item border rounded">
                    <a class="nav-link collapse__content nav-link
                        " aria-current="page"
                        href="">Home</a>
                </li>
                <li class="collapse__list__item">
                    <a class="collapse__content nav-link border" href="">Events</a>
                </li>
                <li>

            </ul>



        </div>
    </div>
</nav>
<script src="static/js/script.js"></script>
</html>
