<header>
<main>
<div class='container'>
	<img src="../media/hero-image-horsebox.jpg" alt="image of horsebox">
	<div class="hero-text">
          <h1>Your perfect pizza experience</h1>
	  <p>Indulge in sourdough pizzas made from Meath's finest
	  producers. Crafted with passion, cooked to perfection!
	  Available for hire.</p>
	</div>
</div>
</main>
</header>


<style>
.container{
  height: 600px;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

body > div:nth-child(1) > header > main > div > img{
  width: 100%;
  height: 500px;
}

</style>

