<div class="card-deck">
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/margherita-for-mares.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/no-animals-here-resized.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/pony_soprano.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/feeling_blue.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/horse-to-france.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
  <div class="container">
     <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        <img src="media/sauces.jpg" alt="Card image cap" class='img-responsive'>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
     </div>
   </div>
</div>


