<div class="container" style='background-color:#f4c2c3';>
	<div class="row g-3">
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/margherita-for-mares.jpg" alt="Card image cap" class='img-responsive'>
	<div class='card-body'>
        <h3 class="card-title">Margherita For Mares</h3>
        <p class="card-text">Sourdough base, Tomato Sauce, Parmigiano Reggiano, Mozzorella, Fresh basil, Extra Virgin Olive Oil</p>
     </div>
   </div>
   </div>
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/no-animals-here-resized.jpg" alt="Card image cap" class='img-responsive'>
	<div class='card-body'>
        <h3 class="card-title">No Animals Here</h3>
        <p class="card-text">Sourdough Base, Tomato Sauce, Vegan Mozzarella, Caramelised Onion, Green Olives, Vegan Pesto & Rocket</p>
     </div>
     </div>
   </div>
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/pony_soprano.jpg" alt="Card image cap" class='img-responsive'>
        <h3 class="card-title">Pony Soprano</h3>
	<div class='card-body'>
        <p class="card-text">Sourdough Base, Tomato Sauce, Mozzerela, Wooded Pig Pepperoni, Garlic oil and Rocket</p>
     </div>
   </div>
   </div>
	</div>
	<div class="row g-3">
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/feeling_blue.jpg" alt="Card image cap" class='img-responsive'>
	<div class='card-body'>
        <h3 class="card-title">Feeling Blue</h3>
        <p class="card-text">Sourdough Base, Bechamel Sauce, Boyne Valley Cheese, Carmelised Onion, Pear, Walnuts, Rocket & Parmigiano Reggiano</p>
     </div>
   </div>
   </div>
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/horse-to-france.jpg" alt="Card image cap" class='img-responsive'>
	<div class='card-body'>
        <h3 class="card-title">Horse To France</h3>
	<p class="card-text">Sourdough Base with Garlic Butter, Mozzarella & Rosemary</p>
     </div>
     </div>
   </div>
  <div class="col-lg-4 col-12 col-md-6">
     <div class="card">
        <img src="media/sauces.jpg" alt="Card image cap" class='img-responsive'>
        <h3 class="card-title">Sauces</h3>
	<div class='card-body'>
        <p class="card-text">Garlic, Mayo & Red Sauce</p>
     </div>
   </div>
   </div>
	</div>
</div>


